# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Secrets
.env
.env.local
.env.*.local

# SQLite
*.db

# macOS
.DS_Store

# Logs
*.log

# Build
build/
dist/

# Android
.gradle/
local.properties
